.app-contentLayout > .app-about > h4 {
    padding-bottom: 1em;
}
span.avatar {
    margin: 0 auto 0;
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
}
.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.list > li {
    display: inline-block;
    width: 100%;
}
/*div.about-content > p {*/
/*    text-align: center;*/
/*}*/

ul.list > li > a {
    color: white;
}
ul.list > li > a:hover {
    color: chartreuse;
    text-decoration: none;
}